:root {
  --nav-color: #fff;
  --nav-text: #212529;
  --nav-hover: #df271a;
}

.navbar {
  background-color: var(--nav-color);
  transition: background-color 0.3s ease;
}
.navbar-brand svg {
  fill: var(--nav-hover);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--nav-text);
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--nav-hover);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--nav-hover);
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .navbar {
    padding: 0 10px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 10px 30px;
  }

  .dropdown-menu[data-bs-popper] {
    left: -70px !important;
  }

  .dropdown-menu.show .dropdown-item {
    padding: 0px;
  }

  .dropdown-menu.show li {
    padding: 5px 10px;
    font-size: 14px;
  }

  .menu-links {
    justify-content: end;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
