.DS_Store
thumbs.db
**/venv/
__pycache__/
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib
*.out
*.class
*.o
*.swp
*.swo
node_modules/
**/node_modules/
*.pb
*.tflite
*.data-00000-of-00001
*.ckpt.*
*.mat
chromedriver
chromedriver.exe
tempCodeRunnerFile.*
dist/
build/
