* {
	margin: 0;
	padding: 0;
	color:white;
}
body{
	width: 100%;
	height: 100%;
	background-color: #333;
}
.quiz-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width:60%;
	height:93vh;
	margin: 0 auto;
	margin-top: 1rem;
	border: 2px solid white;
	background-color: #0b0d38;
	background-image: linear-gradient(to right,#012237,#000e17);
	border-radius: 1.2rem;
}

.quiz-title {
	color:rgb(255, 255, 255);
	padding: 1.25rem;
    text-align:center;
	font-size: 3rem;
	font-weight: 600;
	border-bottom: #00f7ff 6px solid;
	border-radius: 3rem;
	animation: textShadow 3.5s linear infinite;
}
@keyframes textShadow {
	0%{
		text-shadow: 3px 3px 10px rgb(28, 28, 28);
	}
	5%{
		text-shadow: 3px 3px 10px rgb(0, 255, 238);
	}
	8%{
		text-shadow: 3px 3px 10px rgb(28, 28, 28);
	}
	15%{
		text-shadow: 3px 3px 10px rgb(0, 255, 238);
	}
	18%{
		text-shadow: 3px 3px 10px rgb(28, 28, 28);
	}
	23%{
		text-shadow: 3px 3px 10px rgb(0, 255, 238);
	}
	40%{
		text-shadow: 3px 3px 10px rgb(28, 28, 28);
	}
}
#question{
display: inline-block;
text-align: center;
margin: 2rem auto;
width: 85%;
height: 15vh;
padding: 1.3rem;
font-size: 1.5rem;
text-shadow: black 1px 1px 1px;
color:#ffffff;
background-color: #0000001c;
border-radius: 2rem;
border: 2px dashed rgba(255, 255, 255, 0.663);
background-image:linear-gradient(to top,#000e176b,#001f32);
word-break: break-all;
}
#answer-buttons{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
    width: 85%;
	height: 18rem;
	background-color: #0000001c;
	background-image:linear-gradient(to top,#000e176b,#001f32);
 	border-radius: 2rem;
	box-shadow: 0.3px 2px 3px 0px white;
	margin: 0 auto;
	padding: .5rem;
}
.btn{
	width: 40%;
	height: auto;
	background-color: #02467a3a;
	background-image:linear-gradient(to bottom,#030d13a9,#02395b6e);
	margin: 1.3rem;
	font-size: 1.2rem;
	padding:.5rem;
	font-weight: 600;
	text-shadow: 1.5px 1.5px rgb(20, 20, 20);
	word-break: break-all;
	border-radius: 1.5rem;
	border: 2px rgba(255, 255, 255, 0.273);
	border-style:dashed;
}

#next-btn{
	background-color: #04328286;
	width:3rem;
	height:3rem;
	border-radius: 2rem;
	margin: 0 auto;	
	margin-top: 2rem;
	text-shadow: 2px 2px black;
	border: 2px dashed white;
}


.hide{
	transition: all 3s linear;
	display:none;
	transition: display .3s linear;
}
.incorrect{
	background-color:rgba(255, 0, 0, 0.69);
	background-blend-mode: color-burn;
	
}
.correct{
	background-color: #29ff03a0;
	background-blend-mode: color-burn;
}
.disable{
	cursor:not-allowed;
	pointer-events: none;
}
.result{
	position: absolute;
	width: 55vw;
	height: 70vh;
	background-color: #2d1b5fe5;
	top:0;
	left:0;
	transform: translate( 40% ,23%);
	z-index: 5;
	border: 2px dashed rgb(255, 255, 255);
	border-radius: 2rem;
}
.result h1{
	font-size: 3rem;
	text-align: center;
	font-weight: 600;
	text-shadow: 2px 2px black;
	margin-top:25%;
}
.retry{
	width: 8rem;
	height: 5rem;
	color: rgb(246, 246, 246);
	font-size: 2rem;
	font-weight: 400;
	z-index: 9;
	bottom: 0;
	left: 0;
	background-color: rgba(6, 6, 6, 0.397);
	position: absolute;
	transform: translate(24vw,-10vh);
	border: 2px dashed white;
	text-transform: uppercase;
	border-radius: 1.2rem;
}
.footer {
	position: absolute;
	bottom: 0;
	transform: translate(20.5vw,-5.5vh);
	margin: 0.2rem auto;
	background-color: transparent;
	color: white;
	padding: .15rem 0;
	text-align: center;
	border-radius: 2rem;
  }
@media (min-width: 769px) {
	#next-btn:hover{
		background-color:#4a0063;
		box-shadow: 2px 2px 5px #0f0f0f;
		outline: none;
		transition: all .2s linear;
		cursor: pointer;
	}
	.btn:hover{
		background-color: #019aff8a;
		box-shadow: 1px 1px 2px 1px rgb(0, 253, 223);
		transition: all .2s linear;
		cursor: pointer;
	}
	.retry:hover{
		background-color: #019aff8a;
		
		transition: all .2s linear;
		cursor: pointer;
	}
}

@media (max-width: 768px){
	.quiz-container {
		width:100%;
		height:100vh;
		margin: 0;
		border: 0px solid white;
		border-radius: 0rem;
	}
	
	.quiz-title {
		padding: 0.95rem;
		font-size: 1.8rem;
		font-weight: 600;
		border-bottom: #00f7ff 4px solid;
		border-radius: 2rem;
	}
	#question{
	margin: 1.5rem auto;
	width: 75%;
	height: 10vh;
	padding: 1.2rem;
	font-size: 1.2rem;
	}
	#answer-buttons{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		width: 80%;
		height: 20rem;
		border:2px dashed rgba(255, 255, 255, 0.686);
		box-shadow: 0 0px 0px 0px white;
		padding: .5rem;
	}
	.btn{
		width: 90%;
		margin: 0.5rem;
		font-size: .85rem;
		padding:1rem;
	}
	
	#next-btn{
		margin-top: 1rem;
	}
	.result{
		width: 90%;
		height: 75vh;
		transform: translate( 5% ,18%);
		z-index: 5;
	}
	.result h1{
		font-size: 2.2rem;
		margin-top:35%;
	}
	.retry{
		width: 5rem;
		height: 3rem;
		font-size: 1rem;
		font-weight: 600;
		transform: translate(34vw,-30vh);
	}
	.footer {
		width: 25%;
		transform: translate(1vw,-2vh);
		font-size: .6rem;
		margin: 0.1rem auto;
		background-color:transparent;
		border: 2px solid transparent;
		padding: .05rem 0;
		
	  }
}