*{
    padding: 0px;
    margin: 0px;
}
.container{
    border: 4px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50vw;
    margin: 17vw auto;
    border-radius: 15px;
    background-image: url('cloud.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
}
.header{
    font-size: 25px;
}
body{
    background-color: #17498a;
    text-align: center;
    justify-content: center;
    margin-top: 30vh;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#city{
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.text{
    font-size: 30px;
    padding-right: 17px;
}
button{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(192, 187, 187);
}

#weather-info {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 20px;
    padding: 10px;

}

#error {
    color: red;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 600px) {
    .container{
        width: 90%;
        padding: 20px;
    }
    #city {
        width: 100%;
    }
    #search-btn {
        width: 100%;
        margin-top: 10px;
    }
}