*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* styling the navbar */
.navbar{
    width:100%;
    padding:1.5rem;
    font-size:18px;
    background:#bae8e8;
}

/* styling the container */
.container{
    width:100%;
    margin:1rem auto;
    text-align:center;
}


.timer-container{
    max-width:50%;
    margin:1rem auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border:1px solid black;
    padding:1rem;
    font-size:1.5rem;
}

.btn{
    padding:10px 25px;
    font-size:20px;
    margin:1rem;
    border:none;
    color:#fff;
    cursor:pointer;
    transition:all .2s ease;
}

#start-btn{
    background:rgb(68, 239, 68);
}

#start-btn:hover{
    background:rgb(10, 162, 10);
}

#stop-btn{
    background:rgb(237, 28, 28);
}
#stop-btn:hover{
    background:rgb(178, 15, 15);
}

#restart-btn{
    background:grey;
}
#restart-btn:hover{
    background:rgb(69, 67, 67);
}

#add-btn{
    background:orange;
}

#add-btn:hover{
    background:rgb(156, 103, 5);
}

.user-input input{
    font-size:16px;
    padding:10px 5px;
}

#header{
    margin:1.5rem;
}